.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grp-name{
  width: 40vw;
  padding: 50px;
  font-size: 35px;
  font-weight: 700;
  color: #23396B;
  text-align: center;
}
.btn-group{
  width: 40vw;
  padding: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn{
  width: fit-content;
  padding: 1.25rem;
  background-color: transparent;
  color: #23396B;
  font-size: 25px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}
.active{
  background-image: url(btn.jpg);
  background-size: cover;
  color: #23396B;
}
.hover-group{
  width: 40vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pos-box{
  width: 40%;
  padding: 2.5rem;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 25px;
  text-decoration: underline;
  cursor: pointer;
}
.top{
  position: absolute;
  top: 0px;
  left: auto;
  background-color: #23396B;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}
.top::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #23396B;
  border-bottom: 20px solid transparent;
  left: 48%;
  bottom: -38px;
}
.left{
  position: absolute;
  left: -80px;
  top: auto;
  background-color: #23396B;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}
.left::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 60px solid #23396B;
  border-right: 60px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -118px;
  top: 28%;
}
.right{
  position: absolute;
  right: -80px;
  top: auto;
  background-color: #23396B;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}
.right::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 60px solid transparent;
  border-right: 60px solid #23396B;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -118px;
  top: 28%;
}
.bottom{
  position: absolute;
  bottom: 0;
  left: auto;
  background-color: #23396B;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}
.bottom::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid #23396B;
  left: 48%;
  top: -38px;
}